@use "../../shared/styles/mixins.scss" as mixin;
@use "../../shared/styles/themes/baseLight.scss" as baseColor;
@use "../../shared/styles/variables.scss" as variable;

.vacationList {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: variable.$gap;

  width: 100vw;
  height: 100vh;

  background-color: baseColor.$blue-100;

  padding: variable.$gap * 2;

  .vacationCard {
    width: 40vw;
    height: 50vh;

    background-color: baseColor.$blue-700;

    border-radius: variable.$border-1vw / 2;

    padding: variable.$padding * 2;

    .title,
    .description {
      color: baseColor.$white;
    }
  }

  .loading {
  text-align: center;
  padding: variable.$padding * 2;
  color: #666;
  font-size: 1.5vw;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: variable.$border-1vw;

  padding: variable.$padding * 2;

  font-size: 1.5vw;

  color: baseColor.$red-100;
  background-color: baseColor.$red-500;
}

.noResults {
  text-align: center;
  padding: 20px;
  color: #666;
}
}