@import "../../shared/styles/mixins.scss";
@import "../../shared/styles/themes/baseLight.scss";
@import "../../shared/styles/variables.scss";

.authorization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;

  width: 25vw;
  height: 50vh;

  border-radius: $border-1vw;

  background-color: $blue-100;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;

    input {
      border: none;
      border-radius: $border-1vw;

      padding: $padding;

      transition: 0.1s;
    }

    input:hover {
      border-left: 0.2vw solid $blue-700;

      transition: 0.1s;
    }

    input:focus {
      outline: 0.15vw solid $blue-700;
      
      transition: 0.1s;
    }
    
    button {
      width: 60%;

      border-radius: $border-1vw;

      padding: $padding;

      background-color: $blue-700;
      color: $blue-100;

      transition: 0.5s;
    }

    button:hover {
      background-color: rgb(94, 172, 94);

      transition: 0.5s;
    }

  }

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;

    .changeModeButn {
      border-radius: $border-1vw;
  
      padding: $padding;
  
      background-color: darkblue;
      
      transition: 0.5s;
  
      color: $blue-100;

      &:hover {
        background-color: rgb(76, 76, 196);
      }
    }
  

    .back {
      border-radius: $border-1vw;
  
      padding: $padding;
  
      background-color: darkblue;
      
      transition: 0.5s;
  
      color: $blue-100;

      &:hover {
        background-color: rgb(76, 76, 196);
      }
    }
  }

  .error {
    color: red;
    font-size: 1vw;
    margin-bottom: 0.5vw;
  }
}