@use 'sass:color';
@use '@/shared/styles/reset.scss';
@use '@/shared/styles/themes/baseLight.scss' as baseColor;
@use '@/shared/styles/mixins' as mixins;
@use '@/shared/styles/variables' as variables;

* {
  box-sizing: border-box;
}

.header {
  @include mixins.flex-center;  

  height: 10vh;
  gap: variables.$gap;
  background-color: baseColor.$blue-900;

  .globalLinkContainer {
    width: 30%;
    display: flex;
    color: baseColor.$blue-100;
    padding: variables.$padding * 2;
    font-size: 2vw;
  }

  .searchBarContainer {
    width: 60%;
    @include mixins.flex-center;

    .searchBar {
      width: 50%;
      height: 2vw;

      border: none;
      border-radius: 1vw 0 0 1vw;
      padding: variables.$search-bar-padding;
      background-color: baseColor.$blue-100;
      transition: 0.5s;

      &:focus {
        outline: baseColor.$blue-50;
        background: linear-gradient(
          to right,
          baseColor.$blue-700 0%,
          color.mix(baseColor.$blue-700, baseColor.$blue-100, 50%) 50%,
          baseColor.$blue-100 100%
        );
      }

      &::placeholder {
        color: baseColor.$blue-900;
      }
    }

    .clearButn {
      @include mixins.flex-center;
      width: 2vw;
      height: 2vw;
      background-color: baseColor.$blue-100;
    }

    .searchButn {
      @include mixins.flex-center;
      width: 2vw;
      height: 2vw;
      border-radius: 0 1vw 1vw 0;
      background-color: baseColor.$blue-100;

      svg {
        stroke-width: 0.1vw;
      }
    }
  }

  .butnContainer {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: variables.$padding * 2;
    gap: variables.$gap;

    .translatorButn {
      @include mixins.flex-center;
      @include mixins.headerButnStyles;
    }

    .profileButn {
      @include mixins.flex-center;
      @include mixins.headerButnStyles;
    }
  }
}
