@use './variables' as variables;
@use './themes/baseLight.scss' as baseLight;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin headerButnStyles {
  background-color: baseLight.$blue-100;
  color: baseLight.$blue-900;

  border-radius: variables.$border-50pcnt;

  padding: variables.$padding;

  svg {
    width: 1.5vw;
    height: 1.5vw;

    stroke-width: 0.5vw;
  }
}
