// distance
$gap: 0.5vw !default;
$margin: 0.5vw !default;
$padding: 0.5vw !default;

// input
$search-bar-padding: 0.5vw 0.5vw 0.5vw 1vw !default;

// border
$border: 0.1vw !default;
$border-1vw: 1vw !default;
$border-50pcnt: 50% !default;

// animation
$transition: 0.5s !default;
