@use 'sass:color';
@use '@/shared/styles/reset.scss';
@use '@/shared/styles/themes/baseLight.scss' as baseColor;
@use '@/shared/styles/mixins' as mixins;
@use '@/shared/styles/variables' as variables;

.profileContainer {
  width: 90vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 0.5vw;

  background-color: baseColor.$blue-100;

  .avatarAndName {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;

    padding: 2vw;

    .avatar {
      width: 6vw;
      height: 6vw;

      border: 0.2vw solid baseColor.$blue-700;
      border-radius: variables.$border-50pcnt;
    }
    
    .defaultAvatar {
      width: 6vw;
      height: 6vw;

      border: 0.2vw solid baseColor.$blue-700;
      border-radius: variables.$border-50pcnt;  

      color: baseColor.$blue-900;
    }
    
    .name {
      background-color: baseColor.$blue-700;
      border-radius: variables.$border-1vw;

      padding: variables.$padding;

      font-size: 1vw;
    }
  }

  .descriptionAndLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}